@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

/*###Global##*/
:root{
  --clr1:#8e44ad;
  --clr2:#3498db;
  --clr3:#2c3e50;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
p{
  font-weight: 300;
  color: #111;
}

/*##Header##*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky{
  background: var(--clr3);
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-bottom: 2px var(--clr1) solid;
}
header.sticky .logo{
  color: #111;
}
header .menu_toggle{
  display: none;
}
header .logo{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header .logo span{
  color: var(--clr2);
}
header.sticky .logo{
  color: #fff;
}
header .navigation{
  position: relative;
  display: flex;
}
header .navigation li{
  list-style: none;
  margin-left: 30px;
  font-size: 1em;
}
header .navigation li a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header.sticky .navigation li a {
  color: #fff;
}
header .navigation li a:hover{
  color:var(--clr2) ;
}
/*##Banner##*/
.hero{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/bg1.jpg);
  background-size: cover;
  position: relative;
}
.hero .banner{
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
  position: absolute;
}
.hero .content{
  max-width: 900px;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  
}
.hero .content h2{
  font-size: 5em;
  color: #fff;
}
.hero .content p{
  font-size: 1em;
  color: #fff;
}
.btn{
  font-size: 1em;
  color: #fff;
  background: var(--clr1);
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-top: 10px;
}
.btn:hover{
  letter-spacing: 7px;
}

/*##About##*/
#about{
  padding: 100px ;
  padding-top: 200px;
}
.row{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.row .col50{
  position: relative;
  width: 48%;
}
.title_text{
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.title_text span{
  color: var(--clr1);
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .img_box{
  position: relative;
  width: 100%;
  height: 100%;
}
.row .col50 .img_box img{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*##Proyects##*/
#proyectsImg{
  padding: 100px 50px 100px 50px;
}
.title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.proyectsImg .content{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.proyectsImg .content .box{
  width: 350px;
  margin: 10px;
  border:15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.19);
}
.proyectsImg .content .box .img_box{
  position: relative;
  width: 100%;
  height: 340px;
}
.proyectsImg .content .box .img_box img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.proyectsImg .content .box .text{
  padding: 15px 0 5px;
}
.proyectsImg .content .box .text h3{
  font-weight: 400;
  color: #111;
}

/*##Proyects Content##*/
#proyectsDesc{
  padding:100px;
}
.proyectsDesc .content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
.proyectsDesc .content .box{
  width: 250px;
  margin: 15px;
}
.proyectsDesc .content .box .img_box{
  position: relative;
  width: 100%;
  height: 300px;
}
.proyectsDesc .content .box .img_box img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.proyectsDesc .content .box .text{
  padding: 15px 0 5px;
}
.proyectsDesc .content .box .text h3{
  font-weight: 400;
  color: #111;
}

/*##Inspiration Wall##*/

.wall{
  background:url(img/bg2.jpg);
  background-size:cover;
  width: 100%;
  height: 100%;
}
.wall .bg-effects{
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.wall .title{
  padding: 100px 100px 0 100px;
}
.wall .title .title_text span{
  color: var(--clr2);
}
.white .title_text, .white p{
  position: relative;
  color: #fff;
}
.wall .content{
  position: relative;
}
.wall .content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 40px;
}
.wall .content .box{
  width: 340px;
  margin:20px;
  padding:40px;
  background: var(--clr3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px var(--clr2) solid;
  border-radius: 5px;
}
.wall .content .box .img_box{
  position: relative;
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.wall .content .box .img_box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wall .content .box  .text{
  text-align: center;

}
.wall .content .box  .text p{
  color: #fff;
  font-style: italic;
}
.wall .content .box  .text h3{
  margin-top: 20px;
  font-size: 1.2em;
  color: var(--clr2);
  font-weight: 600;
  letter-spacing: 2px;
}

/*###Contact#*/
.contacts{
  padding: 100px;
  background-image: url(img/bg3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.contact_form{
  padding: 50px 50px 20px 50px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  background:#fff;
  max-width: 500px;
  margin-top: 50px;
  border-radius: 5px;
}

.contact_form h3{
  color:#111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contact_form .input_box{
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact_form .input_box input,
.contact_form .input_box textarea{
  width: 100%;
  border: 1px solid var(--clr1);
  color: #111;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 300px;
  resize: none;
}
.contact_form .input_box input[type="submit"]{
  font-size: 1em;
  color: #fff;
  background:var(--clr2);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: 3px var(--clr1) solid;
  border-radius: 5px;
  cursor: pointer;
}

/*###Footer##*/
.copyright_text{
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright_text p{
  color: var(--clr3);
}


@media (max-width:1024px){
  /*header*/
  header{
    padding: 40px;
  }
  header.sticky{
    padding: 20px;

  }
  header .navigation{
    justify-content: center;
    align-items: center;
  }
  /*banner - hero*/
  .hero .content p{
    width: 85%;
  }
  
  /*proyectsImg*/
  .proyectsImg .content .box{
    width: 40%;
  }
}

@media (max-width: 768px){
  header, header.sticky{
    padding: 10px 20px;
  }
  header .logo{
    font-size: 2.5em;
    z-index: 2;
  }
  header .navigation{
    display: none;
  }
  header .navigation.active{
    width: 100%;
    height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--clr3);
    letter-spacing: 3px;
    transition: 0.5;
  }
  header .navigation.active li{
    margin-top: 10px;
    font-size: 1.5em;
  }
  header .menu_toggle{
    color: #fff;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    z-index: 2;
  }
  header .menu_toggle ion-icon{
    font-size: 64px;
  }
  header .menu_toggle .close{
    display: none;
  }
  header .menu_toggle.active .open{
    display: none;
  }
  header .menu_toggle.active .close{
    display: flex;
  }

  /*Banner*/
  .hero .content h2{
    font-size: 4em;
    text-align: center;
  }
  .hero .content p{
    width: 85%;
  }

  /*About*/
  #about{
    padding:84px 20px 20px 20px;
  }

  /*proyectsImg*/
  #proyectsImg{
    padding:84px 20px 20px 20px;
  }
  .proyectsImg .content .box{
    width: 40%;
  }
  .proyectsImg .content .box .img_box{
    height: 300px;
  }

  /*proyectsDesc*/
  #proyectsDesc{
    padding:84px 20px 20px 20px;
  }

  /*wall*/
  #wall{
    margin:84px 0;
  }

  /*contacts*/

  /*footer*/
  
}

@media (max-width: 620px){

  p{
    font-size: 0.9em;
  }

  /*header*/
  header , header.sticky{
    padding:5px 15px;
    height: 10%;
  }
  header .logo{
    font-size: 2em;
  }
  header .menu_toggle ion-icon{
    font-size: 2.2em;
  }
  /*banner*/
  .hero .content {
    padding-top: 30px;
  }
  .hero .content h2{
    font-size: 2.1em;
    width: 300px;
  }
  .hero .content p{
    font-size: 0.9em;
    text-align: center;
  }

  /*about*/
  .about .row{
    flex-direction: column;
  }
  .about .row .col50{
    width: 100%;
    position: relative;
  }
  .about .row .col50 h2{
    font-size: 1.5em;
    text-align: center;
  }

  .about .row .col50 .img_box{
    width:100%;
    height: 300px;
    margin-top: 15px;
  }
  /*proyectsImg*/
  .proyectsImg .title h2{
    font-size: 1.5em;
  }
  .proyectsImg .title p{
    text-align: center;
  }
  .proyectsImg .content .box .text h3{
    font-size: 0.9em;
    letter-spacing: 2px;
  }

  /*proyectsContent*/
  .proyectsDesc .title h2{
    font-size: 1.5em;
  }
  .proyectsDesc .title p{
    text-align: center;
  }
  .proyectsDesc .content .box .text h3{
    font-size: 0.9em;
    letter-spacing: 2px;
  }
  .proyectsImg .content .box{
    width: 340px;
  }

  /*wall*/
  #wall{
    margin-bottom: 0px;
  }
  .wall .title {
    padding:80px 20px 20px;
  }
  .wall .title h2{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .wall .content {
    margin: 0;
  }
  .wall .content .box{
    height: 300px;
    padding:20px
  }

  /*contacts*/
  .contacts{
    padding:80px 20px 20px;
    background-size: cover;
  }
  .contacts .title h2{
    font-size: 1.5em;
  }
  .contacts .title p {
    text-align: center;
  }
  .contacts .contact_form{
    padding:25px;
  }

  /*footer*/
  footer{
    margin-top: 50px;
  }
}